.container{
    width: 100vw;
    min-height: 100vh;
    // background-image: url('../../../assets//images/back1.jpg');
    background-size: cover;
}

.header{
    display: flex;
    justify-content: center;
    align-self: center;
}
.headerLogo{
    margin-top: 30px;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    
    // display: flex;
    // margin-left: 426px;
    // text-align: center;
    color: lightskyblue;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}