<mat-toolbar  class="shadow justify-content-between px-5 mb-4">
  <div>
    <span class="mat-h2">Trello Board</span>
  </div>
  <span class="example-spacer"></span>
      <app-column-dialog (emitText)="addColumn($event)" question="Add new column">
        <button mat-raised-button color="primary">
          New Column
        </button>
      </app-column-dialog> 
  &nbsp;
  <button mat-raised-button color="primary" (click)="logout()">Logout</button>
</mat-toolbar>

<router-outlet></router-outlet> 