<div >
    <form #columnForm="ngForm" (ngSubmit)="onSubmit(columnForm)" >
    <h3>{{data.question}}</h3>

    <!-- title -->
    <mat-form-field class="w-100">
        <mat-label>Add Title</mat-label>
        <input matInput   type="text"
        name="columnTitle"
        ngModel
        required
        minlength="3"
        placeholder="columnTitle"  #columnTitle="ngModel" [(ngModel)] = "data.text">
        <mat-error *ngIf="columnTitle.invalid">Please enter a Column columnTitle.</mat-error>
    </mat-form-field>
      

    <button mat-raised-button [mat-dialog-close]="data.text" cdkFocusInitial color="primary" type="submit">Confirm</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
</form>
</div>
